* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  height: 100vh;
  width: 100%;
  color: #77797D;
  background-color: #141922;
}

h3, h4 {
  color: white;
  font-weight: bold;
}



/* NAVBAR */
nav {
  position: fixed;
  width: 250px;
  height: calc(100vh - 100px);
  background-color: #000000;
  padding: 10px;
}

.navbar-header {
  width: 100%;
  margin-bottom: 30px;
}
.navbar-brand {
  width: 70%;
}
.nav-navbar {
  padding: 15px;
}
.nav_1 {
  list-style: none;
}
.nav_1 a{
  color: #77797D;
}
.nav_1 li {
  margin-top: 20px;
}
.nav_1 img {
  width: 25px;
  margin-right: 10px;
  padding-bottom: 5px;
  color: #A3A3A3;
}

.nav_playlist {
  padding: 0 15px;
}

.nav_playlist_add {
  font-size: 16px;
  font-weight: bold;
}
.playlist_add_btn {
  padding: 0px 8px;
  margin-right: 5px;
  background: #A3A3A3;
  color: black;
  border: none;
  font-size: 20px;
}

.nav_playlist_list {

}

.nav_scroll {

}

.nav_install {
  width: 230px;
  position: fixed;
  bottom: 100px;
  background-color: #000000;
  padding-top: 20px;
}
.install_btn img {
  width: 20px;
  margin-right: 10px;
}

.nav_user img {
  width: 25px;
  background-color: grey;
  border-radius: 100px;
  margin-right: 5px;
}
/* MAIN */
.main_container {
  /* width: calc(100% - 250px); */
  padding: 0 0 100px 0;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  margin-left: 260px;
  background-color: #141922;
}

.main_header {
  width: calc(100% - 250px);
  margin-right: 20px;
}

.upgrade {
  width: 100%;
  height: 85px;
  background-color: #080B12;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
}

.upgrade_btn {
  padding: 10px 50px;
  text-align: center;
  position: fixed;
  right: 0;
  margin: 20px;
  margin-right: 20px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 50px;
}
.upgrade_btn a {
  color: white;
}

.main_menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 90px;
  background-color: #141922;
}
.main_menu li {
  padding: 20px;
}
.main_menu a {
  color: #77797D;
}
.main_title {
  margin: 20px auto;
}
.recently_played {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: baseline;
}
.played {
  width: 170px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.played_img {
  width: 100%;
}
.played_img img {
  width: 100%;
}
.rounded img {
  border-radius: 100px;
}
.played_text {
  text-align: center;
}

/* FOOTER */
footer {
  height: 100px;
  width: 100%;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-wrap: nowrap;
}

.footer_left {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.song_img img {
  width: 50px;
  margin-right: 10px;
}
.song_text h5 {
  color: white;
  font-weight: bold;
  margin-bottom: 2px;
}
.song_icons {
  margin: 0px 20px;
  display: flex;
  flex-wrap: wrap;
}
.song_icons .far {
  margin-right: 10px;
}

.footer_center {
  width: 50%;
  height: 100%;
  align-items: center;
}
.play_bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.play_bar .fas {
  margin: 15px;
  font-size: 20px;
  color: white;
}
.play_bar .far {
  margin: 15px;
  font-size: 30px;
  color: white;
}

.play_time {
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-bar {
  height: 4px;
  width: 60%;
  background-color: #b3b3b3;
  margin: 0 10px;
}

.footer_right {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  align-items: center;
}
.volume_icons {
  display: flex;
  flex-wrap: wrap;
}
.volume_icons .fa-list, .volume_icons .fa-desktop {
  margin-right: 10px;
}
.volume_icons .fa-volume-up {
  margin-right: 2px;
}
.volume-bar {
  height: 4px;
  width: 50%;
  background-color: #b3b3b3;
  margin: 0 10px;
}
